@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 249 250 251;
  --surface: 255 255 255;
  --text: 17 24 39;
  --muted: 107 114 128;
}

.dark {
  --bg: 15 23 42;
  --surface: 30 41 59;
  --text: 248 250 252;
  --muted: 148 163 184;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
}

.remove-bg {
  mix-blend-mode: multiply;
}